<div class="well">
  <%= form_for @employee, html: { class: 'form-horizontal' } do |f| %>
    <div class='form-group'>
      <%= f.label :firstname, 'First Name', class: 'col-md-2 control-label' %>
      <%= f.text_field :firstname, class: 'form-control', placeholder: 'employee first name...' %>
    </div>
    <div class='form-group'>
      <%= f.label :lastname, 'Last Name', class: 'col-md-2 control-label' %>
      <%= f.text_field :lastname, class: 'form-control', placeholder: 'employee last name...' %>
    </div>
    <div class='form-group'>
      <%= f.label :title, class: 'col-md-2 control-label' %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'employee title...' %>
    </div>
    <% if Location.any? %>
      <div class="form-group">
        <%= f.label :location_id, 'Location', class: 'col-md-2 control-label' %>
        <%= f.select :location_id, all_locations, {}, class: 'form-control' %>
      </div>
    <% end %>
    <div class='form-group'>
      <%= f.label :office_number, class: 'col-md-2 control-label' %>
      <%= f.text_field :office_number, class: 'form-control', placeholder: 'employee office number...' %>
    </div>
    <div class='form-group'>
      <%= f.label :phone, class: 'col-md-2 control-label' %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :email, 'Email Address', class: 'col-md-2 control-label' %>
      <%= f.text_field :email, class: 'form-control', placeholder: 'employee email address...' %>
    </div>
    <div class='form-group'>
      <%= f.label :manager, "Manager?", class: 'col-md-2 control-label' %>
      <%= f.check_box :manager %> <span class="small" id="check_here">Check here if this employee is a manager.</span>
    </div>
    <% unless Employee.find_by(:manager).nil? %>
      <div class='form-group'>
        <%= f.label :manager_id, "Manager", class: 'col-md-2 control-label' %>
        <%= f.select :manager_id, all_managers, {}, class: 'form-control' %>
      </div>
    <% end %>
    <% if Department.any? %>
      <div class='form-group'>
        <%= f.label :department_id, 'Department', class: 'col-md-2 control-label' %>
        <%= f.select :department_id, all_departments, {}, class: 'form-control' %>
      </div>
    <% end %>
    <div class="submit">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', employees_path %>
    </div>
  <% end %>
</div>
