<%= render 'shared/errors', error: @employee %>
<%= form_for @employee, html: { class: 'form-horizontal' } do |f| %>
  <%= field_set_tag(@employee.new_record? ? 'New Employee' : "#{@employee.name}") do %>
    <div class='col-md-6'>
      <div class='form-group'>
        <%= f.label :firstname, 'First Name', class: 'col-md-4 control-label' %>
        <%= f.text_field :firstname, class: 'form-control', placeholder: 'employee first name...', tabindex: 1 %>
      </div>
      <div class='form-group'>
        <%= f.label :lastname, 'Last Name', class: 'col-md-4 control-label' %>
        <%= f.text_field :lastname, class: 'form-control', placeholder: 'employee last name...', tabindex: 2 %>
      </div>
      <div class='form-group'>
        <%= f.label :title, class: 'col-md-4 control-label' %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'employee title...', tabindex: 3 %>
      </div>
      <% if Location.any? %>
        <div class="form-group">
          <%= f.label :location_id, 'Location', class: 'col-md-4 control-label' %>
          <%= f.select :location_id, all_locations, {include_blank: '--Select a location--'}, class: 'form-control', tabindex: 4 %>
        </div>
      <% end %>
      <div class='form-group'>
        <%= f.label :office_number, 'Office Number', class: 'col-md-4 control-label' %>
        <%= f.text_field :office_number, class: 'form-control', placeholder: 'employee office number...', tabindex: 5 %>
      </div>
      <div class='form-group'>
        <%= f.label :phone, class: 'col-md-4 control-label' %>
        <%= f.text_field :phone, class: 'form-control', placeholder: '(xxx) xxx-xxxx', tabindex: 6 %>
      </div>
      <div class='form-group'>
        <%= f.label :email, 'Email Address', class: 'col-md-4 control-label' %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'employee email address...', tabindex: 7 %>
      </div>
      <% unless Employee.managers.length == 0 %>
        <div class='form-group'>
          <%= f.label :manager_id, "Manager", class: 'col-md-4 control-label' %>
          <% if @employee.manager_id.blank? %>
            <%= f.select :manager_id, Employee.managers, { include_blank: '--Select a manager--' }, class: 'form-control', tabindex: 8 %>
          <% else %>
            <% mgr = Employee.find(@employee.manager_id) %>
            <% dep = Department.find(mgr.department_id) %>
            <%= f.select :manager_id, Employee.managers, { selected: "#{mgr.fullname} - #{dep.name}", include_blank: '--Select a manager--' }, class: 'form-control', tabindex: 8 %>
          <% end %>
        </div>
      <% end %>
      <% if Department.any? %>
        <div class='form-group'>
          <%= f.label :department_id, 'Department', class: 'col-md-4 control-label' %>
          <%= f.select :department_id, all_departments, {include_blank: '--Select a department--'}, class: 'form-control', tabindex: 9 %>
        </div>
      <% end %>
      <div class='form-group'>
        <%= f.label :password, class: 'col-md-4 control-label' %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'employee password...', tabindex: 10 %>
      </div>
      <div class='form-group'>
        <%= f.label :password_confirmation, 'Confirm Password', class: 'col-md-4 control-label' %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'confirm employee password...', tabindex: 11 %>
      </div>
      <div class="submit">
        <%= f.submit 'Save', class: 'button', tabindex: 14 %>
        <%= link_to 'Cancel', employees_path, tabindex: 15 %>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='form-group check'>
        <%= f.label :manager, "Manager?", class: 'col-md-4 control-label' %>
        <%= f.check_box :manager, tabindex: 12 %> <span class="small check_here"><em>Check here if this employee is a manager.</em></span>
      </div>
      <div class='form-group check'>
        <%= f.label :admin, "Admin?", class: 'col-md-4 control-label' %>
        <%= f.check_box :admin, tabindex: 13 %> <span class="small check_here"><em>Check here if this employee is an admin.</em></span>
      </div>
    <% end %>
<% end %>
