<div>
  <p>
    Name: <%= @employee.name %>
  </p>
  <p>
    Title: <%= @employee.title %>
  </p>
  <p>
    Department: <%= Department.find(@employee.department_id).name %>
  </p>
  <p>
    Address: <%= Location.find(@employee.location_id).address1 %> <br /> <%= Location.find(@employee.location_id).address2 %>
  </p>
  <p>
    Office Number: <%= @employee.office_number %>
  </p>
  <p>
    City: <%= Location.find(@employee.location_id).city %>
  </p>
  <p>
    State: <%= Location.find(@employee.location_id).state %>
  </p>
  <p>
    Postal Code: <%= Location.find(@employee.location_id).zip %>
  </p>
  <p>
    Phone: <%= @employee.phone %>
  </p>
  <p>
    Email Address: <%= mail_to @employee.email %>
  </p>
</div>
