<div class='col-md-3 chain'>
  <% @employee.management_chain.each_with_index do |e,i| %>
    <% emp = Employee.find(e) %>
    <p>
      <%= link_to employee_path(emp), class: 'badge' do %>
        <%= emp.name %><br /><%= emp.title %>
      <% end %>
    </p>
    <% unless i == @employee.end_of_chain %><p class='up_arrow'><i class="glyphicon glyphicon-arrow-up"></i></p><% end %>
  <% end %>
</div>
<div class='col-md-4 mainleft'>
  <h1><%= @employee.name %></h1>
  <%= image_tag @employee.avatar_url.to_s, size: "240x240", alt: "#{@employee.slug}-photo" %>
    <% if @employee == current_employee %>
      <%= form_for @employee, html: { multipart: true } do |f| %>
        <%= f.file_field :avatar %>
        <%= f.submit 'Upload', class: 'button' %>
      <% end %>
    <% end %>
</div>
<div class='col-md-4 mainright'>
  <h3><%= @employee.title %></h3>
  <div class='contact_details'>
    <p>
      Department: <%= Department.find(@employee.department_id).name %>
    </p>
    <p>
      <%= Location.find(@employee.location_id).address1 %> <br /> <%= Location.find(@employee.location_id).address2 %><br />
      <%= Location.find(@employee.location_id).city %> <%= Location.find(@employee.location_id).state %>, <%= Location.find(@employee.location_id).zip %>
    </p>
    <p>
      Office: <%= @employee.office_number %>
    </p>
    <p>
      <%= @employee.phone %><br />
      <%= mail_to @employee.email %>
    </p>
  </div>
</div>
<% if @employee.directs.length > 0 %>
  <div class="col-md-offset-3 col-md-9 directs">
    <h3>Direct Reports</h3>
      <div class='reports'>
        <% @employee.directs.each do |emp| %>
          <%= link_to employee_path(emp), class: 'badge' do %>
            <%= emp.name %><br /><%= emp.title %>
          <% end %>
        <% end %>
      </div>
  </div>
<% end %>
