<div class="well">
  <%= form_for @department, html: { class: 'form-horizontal' } do |f| %>
    <div class='form-group'>
      <%= f.label :name, 'Name', class: 'col-md-2 control-label' %>
      <%= f.text_field :name, placeholder: 'department name...', class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :description, 'Description', class: 'col-md-2 control-label' %>
      <%= f.text_area :description, placeholder: 'department description...', class: 'form-control',
        rows: 5 %>
    </div>
    <div class="submit">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', departments_path %>
    </div>
  <% end %>
</div>
