<% provide(:title, "#{@location.name} employees") %>
<table class='table table-hover'>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Department</th>
    <%= render 'shared/edit_delete_header' %>
  </tr>
  <% @employees.each do |emp| %>
    <tr>
      <% dep = Department.find(emp.department_id) unless emp.department_id.nil? %>
      <td><%= link_to emp.name, employee_path(emp) %></td>
      <td><%= emp.title %></td>
      <td><%= link_to dep.name, department_path(dep) unless emp.department_id.nil? %></td>
      <%= render 'shared/edit_delete', emp: emp %>
    </tr>
  <% end %>
</table>
<%= will_paginate @employees, renderer: BootstrapPagination::Rails %>
